
</body>
<div class="navbar-fixed-bottom" >
        
   
         <ul class="nav nav-justified" style="background-color: #000000">
            <div class="navbar-text pull-left">
                <p style="color: #ffffff">Copyright by Mayank Raval @ 2015</p>
            </div>
        
<style>
a {
color: inherit;
text-decoration: none;
}
</style>

             <div class="navbar-text pull-right">
            
                <a href="https://github.com/mayankraval" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
            
                <a href="https://in.linkedin.com/in/mayankraval" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        
                <a href="https://instagram.com/mayank.raval/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> 
            
                <a href="https://twitter.com/Mayank_Raval" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            
                <a href="https://www.facebook.com/mayank.raval" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>

            </div>
       
        </ul>
</div>
    