<% include partials/header.ejs %>
<style>
.about{
    padding-top: 3%;
    margin-top: 30%;    
    font-weight: 300;
    letter-spacing: auto;
    margin: auto;
    text-align: justify;
    font-size: 1.2em;
        width: 60%;
            position: relative;

    }
</style>
<main class="container">
	
<div class="about">
            <div class="row">
                <h1>My Parents named me MAYANK..</h1>
                <p>And I m registered in my death certificate as....oh sorry in my birth certificate as MAYANK RAVAL
And I don’t know what people think of me..So what I can say is only “I DON’T CARE”, would you mind it? ..Again, I Don’t Care! </p>

<p>“I am a harmless Creature, until all my harmones work properly”.</p>

<p>I hate people who act over smart..</p>

<p>I take lot of time to adjust with anybody..might be a drawback of me.</p>
<p>I don’t underestimate anyone.</p>
<p>Misunderstanding has played appreciably great strocks in my life and I am crazier than that, because I enjoy it..
And I can forgive the person who kills me, but not the one who misused me. Now I know, you are thinking, what the hell this person might be of use??</p>
<p>The answer is, I also don’t know. But still I hate people who misuse me..now leave it.</p>

<p>I love to live with my friends and for friendship I don’t consider their any previous achievements. I love all those who feel comfortable with me and who make me feel comfortable with them…
And I never ever go behind any person(irrespective of their SEX) who don’t like my attitude and don’t want to be my friend..</p>
<p>I believe in GOD..I am optimistic. I am Moody.</p>
<p>I always think positive–> Which have never helped me to achieve anything, but still it has become a habit.</p>
<p>I forgive people soon, as I feel this life as too short and have no time to keep on proving others as wrong and we the only perfect!</p>

<p>I love innovative things.</p>
<p>I love to be Honest.</p>

<p>And one thing I have observed about myself is,I don’t go behind famous people, as it would be an extra burden to them. **I don’t like to disturb anybody**
I enjoy the company of people who are FREE.I too love to live freely!</p>

<p>I believe that people wont understand the importance of the other person until that person is found dead.
And I am not an important person, </p>

<p>can you guess Y ?</p>

<p>buddu….</p>

<p>because……………I am still alive.</p>

<p>I respect each and every person on this earth.</p>

<p>I Love each and every person on this earth..and in very rare cases people get confused about the colour of my love Love, Love, Love, Love,Love, Love…owfff I never knew that there are soo many colours to Love, when I was studying in Like(Like -> A place near baroda,where I studied from 6th to 10th).What..what are you thinking?? — All these lines about Love is just a contribution or just a dedication from me to the upcoming Valentines Day and nothing serious in my life.</p>

<p>For those who doesn’t like me, I don’t have any comments, because its their life and I am no one to poke my nose..
And for those who hate me….hope I am not soooo bad(Anyway, its left to you).
    I never think bad for anyone….etc!</p>

<p>One thing which I always want to tell all those people who want to hear from me is…please be original..Be how you are and never try to act as someone else.</p>
Be proud of who you are and try to be yourself in most of the times.Don’t copy things from others.
Write about yourself 4m ur heart 2 ur profile.</p>
    
                <p>I guess, you are my friend..because you read until here, soo....</p>
            </div>
        </div>
</main>
<% include partials/footer.ejs %>