<% include partials/header.ejs %>
<style>
h1 {
    color: #ca2536;
    margin-left: 360px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    text-transform:uppercase;
    position: relative;
    font-weight: 100;
    margin-top: 22.5%;
    letter-spacing: 8px;
} 
    h3{
    color: #487F7D;
    margin-left: 360px;
    font-family: 'Poiret One', cursive;   
    font-size: 2em;
    font-weight: 200;
    text-transform:uppercase;
    position: relative;
    margin-top: 3%;
    letter-spacing: 7px;
}
    body{
        background-image: url('../images/maya.png');
        background-size: cover;
    background-repeat: no-repeat;
    }
</style>            
<!--        <h1 class="thinner"><img src="../public/images/name.gif"></h1>-->
    <h1 class="thinner">Mayank Raval</h1>
        <h3 class="thinner">Innovator</h3>
<% include partials/footer.ejs %>