<% include ../partials/header.ejs %>

<main class="container">
    <h1>Add a New Field</h1>
       <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="fname">Field Name : *</label>
                <input name="fname" type="text" class="form-control" required autofocus />
            </fieldset>
            <fieldset class="form-group">
                <label for="fvalue">Field Value: *</label>
                <input name="fvalue" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </fieldset>
        </form>
    </div>

</main>

<% include ../partials/footer.ejs %>
