<% include ../partials/header.ejs %>
<body>
<main class="container">
    <h1>Add a New Field</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="name">Field Name: *</label>
                <input name="name" type="name" class="form-control" required autofocus />
            </fieldset>
            <fieldset class="form-group">
                <label for="value">Field Value: *</label>
                <input name="value" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </fieldset>
        </form>
    </div>

</main>
</body>
<% include ../partials/footer.ejs %>
